<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

<div>
  <h5 style="text-align:center; color:gray;">NEW ARRIVIALS</h5>
</div>


<%= render :partial => "jshoes/posts" %>

</div>
