<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <br>
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-5 text-right">
      <img src="<%= @post.image_url(:medium) %>">
    </div>
    <div class="col-md-5">
      <p style="font-size:15px;"><%= @post.title %></p>
      <hr>
      <p><%= @post.content %></p>
      <p><a href="/jshoes/review">전체 리스트 가기</a></p>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>

