
<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h6 class="panel-title"><%= @category %><span style="color:mediumvioletred">♥</span></h6>
    </div>
  </div>

  <%= render :partial => "jshoes/posts" %>
</div>
