
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title"><%= @category %></h6>
    </div>
  </div>

  <%= render :partial => "jshoes/posts" %>
</div>
