<script type="text/javascript">
  function go(){
    var f=document.formName;
    f.action="/"
    f.submit();
  }
  function cart(){
    var f=document.formName;
    f.action="/user/cart_list"
    f.submit();
  }
</script>


<div class="container">

  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
  <%= flash[:alert] %>
  </div>
  <% end %>

 <div class="row panel-body">

  <div class="col-xs-3">
  </div>
   <div class="col-xs-6">
     <!-- <h3 style="text-align:center;">-->
      <div style="border:2px solid #c3c3c3; padding:30px; text-align:center;">
     <%= @item.title %><br>
     상품이 장바구니에 담겼습니다.<br>
     <strong>지금 확인하시겠습니까?</strong>
     <br><br>
     <form name="formName" method="get">
       <input type="button" value="> 예" style="background-Color:black; color:White; border-radius:5px;" onclick="cart();">&nbsp;&nbsp;
       <input type="button" value="계속쇼핑" style="background-Color:white; border-radius:5px;" onclick="go();">
     
     </form>
      </div>

   </div>
   
  </div>
</div> 
