<div class="container">

  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
  <%= flash[:alert] %>
  </div>
  <% end %>

 <div class="row panel-body">

  <div class="col-xs-5">
  </div>
   <div class="col-xs-4">
    <a href="/">계속 쇼핑하기</a> | <a href="/user/order_list">주문내역 확인하러가기</a>
  </div>
  <div class="col-xs-3">
   </div>
 </div>
</div>

