<div class="container">


<% @order.each do |order| %>
  <%= order.name %><br>
<% end %>
 <h2 class="text-center">주문내역 조회</h2>
 <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
      <table class="table">
         <tr>배송정보</tr>
         <tr>주문처리상태</tr>
         
      
      </table>  
    </div>
    <div class="col-md-2">
    </div>
 </div>

</div>
