<!--
<div>
  
</div>

<div style="background-color: #e9eaed;">
  <h1>JOIN US</h1>
  <form action="/user/signup_complete" method="post">
    아이디: <input type="text" name="id_user" style="width:70px;"><br>
    비밀번호: <input type="password" name="password" style="width:70px;"> (6자~18자)<br>
    비밀번호 확인: <input type="password" name="retype_password" style="width:70px;"><br>
    이름: <input type="text" name="username" style="width:70px;"><br>
    주소: <input type="text" name="address"><br>
    휴대전화: <input type="text" name="phone_number" style="width:100px;"><br>
    이메일: <input type="text" name="email"><br>
    <br>
    <input type="submit" value="OK">
  </form>
</div>
-->

<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <h3 class="form-heading">JOIN US</h3>

      <form action="/user/signup_complete" method="post">
        <p><input class="form-input" type="text" name="id_user" placeholder="아이디"></p>
        <p><input class="form-input" type="password" name="password" placeholder="비밀번호(6자~18자)"></p>
        <p><input class="form-input" type="password" name="retype_password" placeholder="비밀번호 확인"></p>
        <p><input class="form-input" type="username" name="username" placeholder="이름"></p>
        <p><input class="form-input" type="address" name="address" placeholder="주소"></p>
        <p><input class="form-input" type="phone_number" name="phone_number" placeholder="휴대전화"></p>
        <p><input class="form-input" type="email" name="email" placeholder="이메일"></p>
        <input class="btn btn-lg btn-success btn-block" type="submit" value="OK">
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
