
<div class="container">
  <% if !flash[:alert].nil? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h3 class="form-heading">JOIN US</h3>
     <span style="color:DeepPink; align:text-right; font-size:12px"><strong>★ 항목은 필수 입니다.</strong></span>
    <form action="/user/signup_complete" method="post">
    <table class="table table-bordered">
      <tr>
        <td class="warning" width=170>&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey">이름</span></strong></td>
        <td class="active"><input type="text" name="username"></td>
      </tr>
      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey">아이디</span></strong></td>
        <td class="active"><input type="text" name="id_user"></td>
      </tr>
      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey">비밀번호</span></strong></td>
        <td class="active"><input type="password" name="password" placeholder=" 8자 이상 입력해주세요."></td>
      </tr>
      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey">비밀번호 확인</span></strong></td>
        <td class="active"><input type="password" name="retype_password"></td>
      </tr>
      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey"><strong>주소</span></strong></td>
        <td class="active"><input type="text" name="address" style="width:330px"></td>
      </tr>

      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey"><strong>휴대폰</strong></td>
        <td class="active"><input type="text" name="phone_number"></td>
      </tr>

      <tr>
        <td class="warning">&nbsp;<strong><span style="color:DeepPink">★ </span><span style="color:DimGrey"><strong>이메일</strong></td>
        <td class="active"><input type="text" name="email"></td>
      </tr>

    </table>
<!--    <input class="btn btn-lg btn-success btn-block" type="submit" value="OK"> -->
    <p style="text-align:center">
    <input class="btn btn-lg" type="submit" value="확인" style="width:150px;height:45px; background-Color:DeepPink; font-weight:bold; border:1px solid white; color:white; font-size:15px;">
   </p>   </form>
   
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
