
<div class="container">
<h1 class="gourmet-title"><a class="gourmet-title-link" href="/">JSHOES</a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/woman">여성슈즈</a></li>
      <li><a href="/man">남성슈즈</a></li>
      <li><a href="/child">아동슈즈</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id].nil? %>
      <li><a href="/user/signup">회원가입</a></li>
      <li><a href="/user/login">로그인</a></li>
      <% else %>
      <li><a href="/user/logout_complete">로그아웃</a></li>
      <% end %>
      <li><a href="/jshoes/write">상품등록</a></li>
    </ul>
  </div>
</nav>
