
<div class="container">
<h1 class="gourmet-title"><a class="gourmet-title-link" href="/">JSHOES</a></h1>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
     <!--
      <li class="dropdown">  
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">여성슈즈<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">  
            <li><a href="/woman">힐</a></li>
          </ul></li> -->
     
      <li><a href="/woman">여성슈즈</a></li> 
      <li><a href="/man">남성슈즈</a></li>
      <li><a href="/child">아동슈즈</a></li>
      <li><a href="/jshoes/review">상품후기</a><li>
      <li><a href="/jshoes/qna">고객센터</a><li>      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id].nil? %>
      <li><a href="/user/signup">회원가입</a></li>
      <li><a href="/user/login">로그인</a></li>
      <% else %>
      <li><a href="/user/logout_complete">로그아웃</a></li>
      

      <% if session[:user_id] != 1 %>
      <li class="dropdown">  
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">마이페이지<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">  
            <li><a href="/user/my_page">장바구니</a></li>
          </ul></li>
      <% end %>
      <% end %>
      <% if session[:user_id] == 1 %>
      <li><a href="/jshoes/write">상품등록</a></li>
      <% end %>
    </ul>
  </div>
</nav>
